.step-one-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.step-one-container .item-box{
  width: 50%;
  height: 200px;
  background-color:antiquewhite;
  margin-bottom: 20px;
}